/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 40px;
  border-radius: 3%;
}
   hr{
     width: 75%;
   }
  
   .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 3%;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    border-radius: 3%;
    background: linear-gradient(-45deg, #000000, #000000, #333333, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 25%;
      }
      25%{
          background-position: 25% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      75%{
          background-position: 50% 25%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

  .main  {
    display: flex;
    justify-content: center;
    
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .main {
      flex-direction: column;
      justify-content: center;
    }
  }

h1{
    text-align: center;
    font-weight: 150;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

img{
    border-radius: 3%;
}



body {
  background: linear-gradient(-45deg, #81402c, #88234a, rgb(75, 1, 75),#125b75, #13755e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 25%;
    }
    25%{
        background-position: 25% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    75%{
        background-position: 50% 25%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    z-index: 3;
    top: 0;
    left: 0;
   
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */

    background: linear-gradient(-45deg, #000000, #000000, rgb(71, 71, 71), #333333, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 25%;
      }
      25%{
          background-position: 25% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      75%{
          background-position: 50% 25%;
      }
      100% {
        background-position: 0% 50%;
      }
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #818181;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: rgb(153, 153, 153);
    color: black;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #444;
    color: rgb(255, 255, 255);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
    max-width: 700px;
    background: linear-gradient(-45deg, #000000, #000000, rgb(71, 71, 71),#333333, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    margin-right: auto;
    margin-left: auto;
    
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 25%;
      }
      25%{
          background-position: 25% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      75%{
          background-position: 50% 25%;
      }
      100% {
        background-position: 0% 50%;
      }
    
  }
  

  * {
    box-sizing: border-box;
  }
  
  /* Set a background color */
  body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
     /* for chrome and safari*/
     -webkit-animation-duration: 1s;
     -webkit-animation-name: slidein;

     /*for firefox*/
     -moz-animation-duration: 1s;
     -moz-animation-name: slidein;

       /* for opera*/
     -o-animation-duration: 1s;
     -o-animation-name: slidein;

       /* Standard syntax*/
     animation-duration: 1s;
     animation-name: slidein;
 }

 @-webkit-keyframes slidein {
     from {
         margin-left: 100%;
         width: 300%;
     }

     to {
         margin-left: 0%;
         width: 100%;
     }
 }

 @-moz-keyframes slidein {
     from {
         margin-left: 100%;
         width: 300%;
     }

     to {
         margin-left: 0%;
         width: 100%;
     }
 }
  @-o-keyframes slidein {
     from {
         margin-left: 100%;
         width: 300%;
     }

     to {
         margin-left: 0%;
         width: 100%;
     }
 }
   @keyframes slidein {
     from {
         margin-left: 100%;
         width: 300%;
     }

     to {
         margin-left: 0%;
         width: 100%;
     }

    
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    opacity: 0.5;
  }
  
  /* Container around content */
  .container2 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  
  }
  
  /* The circles on the timeline */
  .container2::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: transparent;
    border: 4px solid transparent;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.5;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;

    
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid rgb(34, 34, 34);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(34, 34, 34);
   
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgb(34, 34, 34);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(34, 34, 34) transparent transparent;
   
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: rgb(0, 0, 0);
    position: relative;
    border-radius: 6px;
   
    color: white;
    background: linear-gradient(-45deg, #000000, #000000, rgb(71, 71, 71), #333333, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 25%;
      }
      25%{
          background-position: 25% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      75%{
          background-position: 50% 25%;
      }
      100% {
        background-position: 0% 50%;
      }

    
  }

  
    
  .abt{
    text-align: center;
    padding: 20px 30px;
    background-color: rgb(0, 0, 0);
    max-width: 600px;
    position: relative;
    border-radius: 6px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background: linear-gradient(-45deg, #000000, #000000, rgb(71, 71, 71),#333333, #000000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  
 
  
  }

  @keyframes gradient {
    0% {
      background-position: 0% 25%;
    }
    25%{
        background-position: 25% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    75%{
        background-position: 50% 25%;
    }
    100% {
      background-position: 0% 50%;
    }
   
   
  }
  

  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container2 {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container2::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
      opacity: 0.5;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

  